@font-face {
  font-family: 'digital';
  src: url('/fonts/digital-7.woff') format('woff');
}

body {
  color: white
}
.background {
  background-image: url("placeholder.jpg"); /* The image used */
  background-color: black; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.align {
  text-align: center;
}

.text {
  text-align: center;
  color: white;
  font-size: 30px
}

.button {
  text-align: center;
  color: black;
  font-size: 20px
}

.heading {
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'digital';
}

