$defaultMargin: 1rem;
$defaultPadding: 1rem;


body {
    width: 100vw;
    height: 100vh;
  }
  
#app {
display: flex;
flex-direction: column;

align-items: center;
width: 100vw;
height: 100vh;
margin: 0px;
padding: 0px;
}

// body {
// color: white
// }

.align {
text-align: center;
}

.text {
text-align: center;
color: white;
font-size: 30px
}

.button {
text-align: center;
color: black;
font-size: 20px
}

// .heading {
// text-align: center;
// color: white;
// font-size: 60px
// }


// height: 100vh;
// background-color: aquamarine;
// /* background-repeat: no-repeat;
// animation: gradient 15s ease infinite; */
//     /* Do not repeat the image */

// }


#box {
display: flex;
flex-direction: row;
flex-wrap: wrap;
border-radius: 25px;
// background-color: black;
margin-bottom: 40px;
height: 0;
margin-top:0px;
border-left: 40vw solid transparent;
border-right: 40vw solid transparent;
border-bottom: 100vw solid  #e73c7e;
padding-bottom: 5px;
;

animation: light 10s ease infinite;




}
@keyframes light {
    0% {
        border-bottom: 100vw solid  #e73c7e;
    }
    50% {
        border-bottom: 100vw solid  #23a6d5;
        
    }
    100% {
        border-bottom: 100vw solid  #e73c7e;
       
    }
}


#join {
    
     width: 100vw;
     height: 100vh;
    background: #23272A;;

}

// @keyframes gradient {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }

.user {
    color: beige;
    font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 7vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
#roomBox {
    background-color: #61c5dc ;
    border-radius: 100px 100px 0px 0px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 0px;
    margin-top: 1vw;
    font-size: 10vw;
    padding-bottom: 5px;
    line-height: 0.8;
    animation: boom 30s ease infinite;
}
@keyframes boom {
    0% {
        background-color: #61c5dc
    }
    22% {
        background-color: #61c5dc
    }
    23% {
        background-color: greenyellow;
    }
    24% {
        background-color: #61c5dc
    }
    46% {
        background-color: #61c5dc
    }
    47% {
        background-color: greenyellow
    }
    48% {
        background-color: #61c5dc
    }
    56% {
        background-color: #61c5dc
    }
    57% {
        background-color: greenyellow
    }
    58% {
        background-color: #61c5dc
    }
    85% {
        background-color: #61c5dc
    }
    86% {
        background-color: greenyellow
    }
    87% {
        background-color: #61c5dc
    }
    100% {
        background-color: #61c5dc
    }
}


#oval {
    background-color: #adb1b8;
    border-radius: 50px 50px 100px 100px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 80vw;
    height: 15vw;
    font-size: 10vw;
}

#start {
    
    background-color: ghostwhite;
    position: absolute ;
    margin-bottom: 5px;
    border-radius: 50px 50px 50px 50px;
}
#userbox {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    ;
    margin-top: -102vw;
    background-color:  #2C2F33;
    border: 3px solid  #adb1b8

}