//import variables semi colon at end

$primaryBtn: rgb(69, 38, 38);



body {
  height: 100vh;
  background-color: $primaryBtn;
  color: #fff;
}


.button {
  border-radius: 15px;
}
h1 {
  text-align: center;
}

// .page {

//   align-items: center;
//   width: 100%;

// }

.btns {
  text-align: center;
 
  width: 100%;
}

.background {
    background-image: url("placeholder.jpg");
    background-color: black; 
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }