.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 250ms ease;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--after-close{
    opacity: 0;
}

.slide-enter {
  transform: translateX(101%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: 150ms linear;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit.slide-exit-active {
  transform: translateX(-101%);
  transition: 150ms linear;
}